<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.dao.TrainMapper">
  <resultMap id="BaseResultMap" type="com.train.pojo.Train">
    <id column="t_pid" jdbcType="INTEGER" property="tPid" />
    <result column="s_id" jdbcType="INTEGER" property="sId" />
    <result column="t_name" jdbcType="VARCHAR" property="tName" />
    <result column="t_teacher" jdbcType="VARCHAR" property="tTeacher" />
    <result column="t_member" jdbcType="VARCHAR" property="tMember" />
    <result column="t_goal" jdbcType="VARCHAR" property="tGoal" />
    <result column="t_introduction" jdbcType="VARCHAR" property="tIntroduction"/>
    <result column="t_start" jdbcType="VARCHAR" property="tStart" />
    <result column="t_end" jdbcType="VARCHAR" property="tEnd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    t_pid, s_id, t_name, t_teacher, t_member, t_goal, t_start, t_end, t_filename
  </sql>
  <select id="selectByExample" parameterType="com.train.pojo.TrainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_train
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    *
    from t_train
    where t_pid = #{tPid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByExample" parameterType="com.train.pojo.TrainExample">
    delete from t_train
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.train.pojo.Train">
    insert into t_train
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tPid != null">
        t_pid,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="tName != null">
        t_name,
      </if>
      <if test="tTeacher != null">
        t_teacher,
      </if>
      <if test="tMember != null">
        t_member,
      </if>
      <if test="tGoal != null">
        t_goal,
      </if>
      <if test="tStart != null">
        t_start,
      </if>
      <if test="tEnd != null">
        t_end,
      </if>
      <if test="tFilename != null">
        t_filename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tPid != null">
        #{tPid,jdbcType=INTEGER},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="tName != null">
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tTeacher != null">
        #{tTeacher,jdbcType=VARCHAR},
      </if>
      <if test="tMember != null">
        #{tMember,jdbcType=VARCHAR},
      </if>
      <if test="tGoal != null">
        #{tGoal,jdbcType=VARCHAR},
      </if>
      <if test="tStart != null">
        #{tStart,jdbcType=TIMESTAMP},
      </if>
      <if test="tEnd != null">
        #{tEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="tFilename != null">
        #{tFilename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.train.pojo.TrainExample" resultType="java.lang.Long">
    select count(*) from t_train
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_train
    <set>
      <if test="record.tPid != null">
        t_pid = #{record.tPid,jdbcType=INTEGER},
      </if>
      <if test="record.sId != null">
        s_id = #{record.sId,jdbcType=INTEGER},
      </if>
      <if test="record.tName != null">
        t_name = #{record.tName,jdbcType=VARCHAR},
      </if>
      <if test="record.tTeacher != null">
        t_teacher = #{record.tTeacher,jdbcType=VARCHAR},
      </if>
      <if test="record.tMember != null">
        t_member = #{record.tMember,jdbcType=VARCHAR},
      </if>
      <if test="record.tGoal != null">
        t_goal = #{record.tGoal,jdbcType=VARCHAR},
      </if>
      <if test="record.tStart != null">
        t_start = #{record.tStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tEnd != null">
        t_end = #{record.tEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tFilename != null">
        t_filename = #{record.tFilename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_train
    set t_pid = #{record.tPid,jdbcType=INTEGER},
      s_id = #{record.sId,jdbcType=INTEGER},
      t_name = #{record.tName,jdbcType=VARCHAR},
      t_teacher = #{record.tTeacher,jdbcType=VARCHAR},
      t_member = #{record.tMember,jdbcType=VARCHAR},
      t_goal = #{record.tGoal,jdbcType=VARCHAR},
      t_start = #{record.tStart,jdbcType=TIMESTAMP},
      t_end = #{record.tEnd,jdbcType=TIMESTAMP},
      t_filename = #{record.tFilename,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.train.pojo.Train">
    update t_train
    <set>
      <if test="sId != null">
        s_id = #{sId,jdbcType=INTEGER},
      </if>
      <if test="tName != null">
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tTeacher != null">
        t_teacher = #{tTeacher,jdbcType=VARCHAR},
      </if>
      <if test="tMember != null">
        t_member = #{tMember,jdbcType=VARCHAR},
      </if>
      <if test="tGoal != null">
        t_goal = #{tGoal,jdbcType=VARCHAR},
      </if>
      <if test="tStart != null">
        t_start = #{tStart,jdbcType=TIMESTAMP},
      </if>
      <if test="tEnd != null">
        t_end = #{tEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="tFilename != null">
        t_filename = #{tFilename,jdbcType=VARCHAR},
      </if>
    </set>
    where t_pid = #{tPid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.train.pojo.Train">
    update t_train
    set s_id = #{sId,jdbcType=INTEGER},
      t_name = #{tName,jdbcType=VARCHAR},
      t_teacher = #{tTeacher,jdbcType=VARCHAR},
      t_member = #{tMember,jdbcType=VARCHAR},
      t_goal = #{tGoal,jdbcType=VARCHAR},
      t_introduction=#{tIntroduction,jdbcType=VARCHAR},
      t_start = #{tStart,jdbcType=VARCHAR},
      t_end = #{tEnd,jdbcType=VARCHAR}
    where t_pid = #{tPid,jdbcType=INTEGER}
  </update>

  <!--添加培训计划-->
  <insert id="insert" useGeneratedKeys="true" keyProperty="tPid" parameterType="com.train.pojo.Train">
    insert into t_train (t_pid, s_id, t_name,
      t_teacher, t_member, t_goal,t_introduction,
      t_start, t_end
      )
    values (#{tPid,jdbcType=INTEGER}, #{sId,jdbcType=INTEGER}, #{tName,jdbcType=VARCHAR},
      #{tTeacher,jdbcType=VARCHAR}, #{tMember,jdbcType=VARCHAR}, #{tGoal,jdbcType=VARCHAR},#{tIntroduction,jdbcType=VARCHAR},
      #{tStart,jdbcType=VARCHAR}, #{tEnd,jdbcType=VARCHAR})
  </insert>



  <!--删除培训计划-->
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    DELETE FROM t_train WHERE t_pid=#{tPid}
  </delete>

  <!--修改培训名称-->
  <update id="updateName" parameterType="com.train.pojo.Train">
    UPDATE t_train
    SET t_name=#{tName}
    WHERE t_pid=#{tPid}
  </update>

  <!--修改培训讲师-->
  <update id="updateTeacher" parameterType="com.train.pojo.Train">
    UPDATE t_train
    SET t_teacher=#{tTeacher}
    WHERE t_pid=#{tPid}
  </update>

  <!--修改参训人员-->
  <update id="updateMember" parameterType="com.train.pojo.Train">
    UPDATE t_train
    SET t_member=#{tMember}
    WHERE t_pid=#{tPid}
  </update>

  <!--修改培训目的-->
  <update id="updateGoal" parameterType="com.train.pojo.Train">
    UPDATE t_train
    SET t_goal=#{tGoal}
    WHERE t_pid=#{tPid}
  </update>

  <!--修改培训简介-->
  <update id="updateIntro" parameterType="com.train.pojo.Train">
     UPDATE t_train
     SET t_introduction=#{tIntroduction}
     WHERE t_pid=#{tPid}
  </update>

  <!--修改起始时间-->
  <update id="updateStarttime" parameterType="com.train.pojo.Train">
    UPDATE t_train
    SET t_start=#{tStart}
    WHERE t_pid=#{tPid}
  </update>

  <!--修改结束时间 -->
  <update id="updateEndtime" parameterType="com.train.pojo.Train">
     UPDATE t_train
    SET t_end=#{tEnd}
    WHERE t_pid=#{tPid}
  </update>

  <!--审核状态变更-->
  <update id="updateStatus" parameterType="com.train.pojo.Train">
    UPDATE t_train
    SET s_id = #{sId}
    WHERE t_pid = #{tPid}
  </update>



</mapper>